---
const {
	over1,
	over2,
	grafikimg,
	grafikimgalt,
	text1,
	text2,
	text3,
	text4,
	link,
	linktekst,
	textboks,
	linkboks
} = Astro.props
---

<section>
	<div class="spacer"></div>
	<article>
		<div class="overskrift">
			<div>
				<h1>{over1}</h1>
				<h1>{over2}</h1>
			</div>
			<img src={grafikimg} alt={grafikimgalt} />
		</div>
		<div class="text">
			<p>
				{text1}
			</p>
			<p>
				{text2}
			</p>
			<p>
				{text3}
			</p>
			{textboks === 'true' && <p>{text4}</p>}
		</div>
		{linkboks === 'true' && <a href={link}>{linktekst}</a>}
	</article>
</section>

<style>
	section {
		display: flex;
		grid-column: 1/3;
		grid-row: 1;
	}

	article {
		position: relative;
		background-color: var(--background-color-primary);
		padding: 0 50px 50px 50px;
		margin-bottom: 180px;
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		gap: 50px;
		height: fit-content;
	}

	img {
		position: absolute;
		top: -23%;
		left: 50px;
		max-width: 83px;
		animation-name: rul;
		animation-delay: 0.5s;
		animation-duration: 2s;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
		animation-iteration-count: 1;
	}

	@keyframes rul {
		10% {
			transform: translate(0, 190%);
		}
		30% {
			transform: translate(80%, 150%) rotate(180deg);
		}
		50% {
			transform: translate(200%, 280%) rotate(360deg);
		}
		80% {
			transform: translate(300%, 200%) rotate(600deg) scale(1.3);
		}
		100% {
			transform: translate(450%, 330%) rotate(720deg) scale(1.8);
		}
	}
	.spacer {
		background-color: var(--background-color-primary);
		height: 220px;
		width: 80%;
	}

	h1 {
		line-height: 80px;
	}

	.linkitekst {
		font-size: var(--copy-web);
	}
	.overskrift {
		display: flex;
		gap: 150px;
	}

	.text {
		display: flex;
		flex-direction: column;
		gap: 30px;
		opacity: 0%;
		animation-name: show;
		animation-delay: 0.5s;
		animation-duration: 3s;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
	}

	@keyframes show {
		100% {
			opacity: 100%;
		}
	}

	@media (max-width: 1200px) {
		.linkitekst {
			font-size: var(--copy-tablet);
		}

		img {
			max-width: 120px;
		}

		.overskrift {
			gap: 100px;
		}
	}
</style>
