---
const { over1, over2, text1, text2, text3, text4, link, linktekst, textboks, linkboks } =
	Astro.props
---

<section>
	<slot name="baggrund" />

	<article>
		<div class="overskrift">
			<div>
				<h1>{over1}</h1>
				<h1>{over2}</h1>
			</div>
			<slot name="grafik" />
		</div>
		<div class="text">
			<p>
				{text1}
			</p>
			<p>
				{text2}
			</p>
			<p>
				{text3}
			</p>
			{textboks === 'true' && <p>{text4}</p>}
		</div>
		{linkboks === 'true' && <a href={link}>{linktekst}</a>}
	</article>
</section>

<style>
	/*For at hjælpe os med at gøre sitet responsivt har vi brugt
	grid og flex, og diffineret nogle områder og hvor vores
	elementer skal være og scalere i forhold til hinanden samt
	hvor de skal placeres og opstilles*/
	section {
		margin-top: 40px;
		grid-row: 1;
		grid-column: 1;
		display: grid;
		grid-template-columns: 1fr;
	}

	article {
		background-color: var(--background-color-primary);
		position: relative;
		height: fit-content;
		border-bottom-left-radius: 30px;
		padding: 0 50px 50px 50px;
		grid-column: 1;
		z-index: 5;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	h1 {
		line-height: 40px;
	}

	.overskrift {
		display: flex;
		justify-content: flex-start;
		gap: 60px;
	}

	.text {
		display: flex;
		flex-direction: column;
		gap: 20px;
		opacity: 0%;
		animation-name: show;
		animation-delay: 0.5s;
		animation-duration: 3s;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
	}

	@keyframes show {
		100% {
			opacity: 100%;
		}
	}

	@media (min-width: 500px) {
		h1 {
			line-height: 60px;
		}

		article {
			gap: 50px;
		}
	}
	@media (min-width: 750px) {
		section {
			grid-template-columns: 55% 45%;
		}

		article {
			grid-row: 1;
			grid-column: 2/3;
			border-bottom-left-radius: 30px;
		}
	}

	@media (min-width: 1000px) {
		.overskrift {
			gap: 100px;
		}
	}
	@media (min-width: 1200px) {
		h1 {
			line-height: 80px;
		}
	}
</style>
