---
const { over1, over2, text1, text2, text3, text4, link, linktekst, textboks, linkboks } =
	Astro.props
---

<section>
	<slot name="baggrund" />

	<article>
		<div class="overskrift">
			<div>
				<h1>{over1}</h1>
				<h1>{over2}</h1>
			</div>
			<slot name="grafik" />
		</div>
		<div class="text">
			<p>
				{text1}
			</p>
			<p>
				{text2}
			</p>
			<p>
				{text3}
			</p>
			{textboks === 'true' && <p>{text4}</p>}
		</div>
		{linkboks === 'true' && <a href={link}>{linktekst}</a>}
	</article>
</section>

<style>
	section {
		grid-row: 1;
		grid-column: 1;
		display: grid;
		grid-template-columns: 55% 45%;
	}

	article {
		background-color: var(--background-color-primary);
		position: relative;
		height: fit-content;
		border-bottom-left-radius: 30px;
		padding: 0 50px 50px 50px;
		grid-column: 2/3;
		grid-row: 1;
		z-index: 5;
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	h1 {
		line-height: 80px;
	}

	.linkitekst {
		font-size: var(--copy-web);
	}
	.overskrift {
		display: flex;
		gap: 150px;
	}

	.text {
		display: flex;
		flex-direction: column;
		gap: 30px;
		opacity: 0%;
		animation-name: show;
		animation-delay: 0.5s;
		animation-duration: 3s;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
	}

	@keyframes show {
		100% {
			opacity: 100%;
		}
	}

	@media (max-width: 1200px) {
		.linkitekst {
			font-size: var(--copy-tablet);
		}

		img {
			max-width: 120px;
		}

		.overskrift {
			gap: 100px;
		}
	}
</style>
